.fadeIn{
    /* animation: 1s fadeIn forwards; */
    /* 아래와 같습니다. */
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;  /* 마지막까지유지 */


}

.fadeOut{
    /* animation: 1s fadeOut forwards; */
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;  /* 마지막까지유지 */


}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(0, 30px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0, -30px);
      opacity: 0;
    }
  }